{% extends 'layout.html' %}

{% block content %}
    <style>
        .btn-container {
            display: flex;
            justify-content: flex-end;
        }

    </style>
    <div class="container">
        <div>
            <!--input type="button" value="新建订单" class="btn btn-primary" data-toggle="modal" data-target="#myModal"-->
            <input type="button" id="btnAdd" value="新建订单" class="btn btn-success" style="margin-bottom: 10px">
        </div>
        <!--order_list-->
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                订单列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>订单号</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>状态</th>
                    <th>管理员</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in query %}
                    <tr uid="{{ obj.id }}">
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.oid }}</td>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>{{ obj.admin.username }}</td>
                        <td>
                            <input uid="{{ obj.id }}" type="button" class="btn btn-primary btn-xs btn-edit" value="编辑">
                            <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="删除">
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                {#                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
                {#                <li><a href="#">1</a></li>#}
                {#                <li><a href="#">2</a></li>#}
                {#                <li><a href="#">3</a></li>#}
                {#                <li><a href="#">4</a></li>#}
                {#                <li><a href="#">5</a></li>#}
                {{ page_list_show }}

                {#                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
                <li>
                    <form style="float: left" method="get">
                        <input type="text" class="form-control" name="page"
                               style="float: left;border-radius: 0;width: 55px;display: inline-block" placeholder="页码">
                        <span style="margin-left: 0;float: left">
                            <button class="btn btn-default" style="border-radius: 0;" type="submit">跳转</button>
                        </span>
                        <span style="margin-left: 6px; margin-top: 16px; float: left">
                            &lt 第{{ current_page }}页/共{{ page_total_size }}页 &gt
                        </span>
                    </form>
                </li>

            </ul>
        </nav>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="clearfix">
                            {% for field in form %}
                                <div class="col-xs-6">
                                    <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        <span class="error-msg" style="color: #ff0000;position: absolute;"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id="btnSave" type="button" class="btn btn-primary">保 存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4>确定删除？</h4>
                <p style="margin-bottom: 10px">删除后，其关联数据会被同时删除，操作不可恢复，请谨慎操作！</p>
                <p class="btn-container">
                    <button type="button" class="btn btn-default cancel" style="margin-right: 10px">
                        不用了，谢谢
                    </button>
                    <button id="btn-confirm-delete" type="button" class="btn btn-danger">仍要删除</button>
                </p>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var DELETE_ID;
        var EDIT_ID;
        $(function () {
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
            bingBtnCancelDeleteEvent();
            bindBtnEditEvent();
        })

        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {
                    $('#formAdd')[0].reset();
                    $('#myModalLabel').text('新建商品信息')
                    $('#myModal').modal('show');
                }
            );
        }

        function bindBtnSaveEvent() {
            $('#btnSave').click(function () {
                    $(".error-msg").empty();
                    if (EDIT_ID) {
                        editSave();
                        EDIT_ID = undefined;
                    } else {
                        eventAdd();
                    }
                }
            );
        }

        function bindBtnDeleteEvent() {
            $('.btn-delete').click(function () {
                $('#deleteModal').modal('show');
                DELETE_ID = $(this).attr('uid');

            });
        }

        function bindBtnConfirmDeleteEvent() {
            $('#btn-confirm-delete').click(
                function () {
                    $.ajax(
                        {
                            url: '/order/delete/',
                            type: 'get',
                            data: {
                                uid: DELETE_ID
                            },
                            dataType: 'JSON',
                            success: function (res) {
                                if (res.status) {
                                    {#$('#deleteModal').modal('hide');#}
                                    location.reload();
                                } else {
                                    alert(res.error);
                                }

                            }
                        }
                    );
                }
            )

        }

        function bingBtnCancelDeleteEvent() {
            $('.close, .cancel').on('click', function () {
                $('#deleteModal').modal('hide');
                DELETE_ID = 0;
                location.reload();

            });

        }

        function bindBtnEditEvent() {
            $('.btn-edit').click(function () {
                var uid = $(this).attr("uid");
                EDIT_ID = uid;
                $('#myModalLabel').text('编辑商品信息')
                $.ajax(
                    {
                        url: '/order/details/',
                        type: 'get',
                        data: {
                            uid: uid,
                        },
                        dataType: 'JSON',
                        success: function (res) {
                            if (res.status) {
                                $.each(res.data, function (name, value) {
                                    $('#id_' + name).val(value)
                                })
                                $('#myModal').modal('show');
                            } else {
                                alert(res.error)
                            }
                        }
                    }
                )
            })
        }

        function eventAdd() {
            $.ajax(
                {
                    url: '/order/add/',
                    type: 'post',
                    data: $('#formAdd').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            $('#formAdd')[0].reset();
                            $('#myModal').modal('hide');
                            location.reload();
                        } else {
                            console.log(res.error)
                            $.each(res.error, function (name, errorlist) {
                                $('#id_' + name).next().text(errorlist[0])
                            })
                        }
                    }

                }
            )
        }

        function editSave() {
            var uid;
            uid = EDIT_ID;
            $.ajax(
                {
                    url: '/order/edit/' + '?uid=' + EDIT_ID,
                    type: 'post',
                    data: $('#formAdd').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            $('#formAdd')[0].reset();
                            $('#myModal').modal('hide');
                            location.reload();
                        } else {
                            if (res.unexist_error) {
                                alert(res.unexist_error)
                            } else {
                                console.log(res.error)
                                $.each(res.error, function (name, errorlist) {
                                    $('#id_' + name).next().text(errorlist[0])
                                })
                            }
                        }
                    }
                }
            )
        }
    </script>
{% endblock %}